//*pagina prueba
$width1: 252px;
$width2: 12px;
//*pagina 3
$box-size1:252px;
$box-size2: 12px;
//*dark
$dark-wallpaper:#00025c;
$dark-menu:#1c1d5c;
$dark-color:#dadada;
$dark-color-hover:rgb(221, 38, 38);
$dark-box:#4446e3;
$dark-box-categoria:#0003db;